<h1>Nowa rasa</h1>

<%= simple_form_for @race do |f| %>
  <%= f.input :name, label: 'Nazwa', placeholder: 'Tutaj wpisz nazwe rasy', allow_blank: false %>
  <%= f.input :description, label: 'Opis', placeholder: 'Tutaj wpisz krótki opis', allow_blank: false %>
  <%= f.button :submit, 'Stwórz' %>
<% end %>

<%= link_to 'Wstecz', races_path %>
