<p id="notice"><%= notice %></p>

<p>
  <strong>Imię:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Wiek:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Płeć:</strong>
  <%= @character.sex %>
</p>

<p>
  <strong>Kolor oczu:</strong>
  <%= @character.eyecolor %>
</p>

<p>
  <strong>Kolor włosów:</strong>
  <%= @character.haircolor %>
</p>

<p>
  <strong>Znak gwiezdny:</strong>
  <%= @character.birthsign %>
</p>

<p>
  <strong>Pochodzenie:</strong>
  <%= @character.placeofbirth %>
</p>

<p>
  <strong>Znaki specjalne:</strong>
  <%= @character.specialmarks %>
</p>

<p>
  <strong>Waga:</strong>
  <%= @character.weight %>
</p>

<p>
  <strong>Wzrost:</strong>
  <%= @character.height %>
</p>

<p>
  <strong>Doświadczenie:</strong>
  <%= @character.experience %>
</p>

<p>
  <strong>Walka wręcz:</strong>
  <%= @character.ww %>
</p>

<p>
  <strong>Umiejętności strzeleckie:</strong>
  <%= @character.us %>
</p>

<p>
  <strong>Krzepa:</strong>
  <%= @character.k %>
</p>

<p>
  <strong>Odporność:</strong>
  <%= @character.odp %>
</p>

<p>
  <strong>Zręczność:</strong>
  <%= @character.zr %>
</p>

<p>
  <strong>Inteligencja:</strong>
  <%= @character.intelligence %>
</p>

<p>
  <strong>Siła woli:</strong>
  <%= @character.sw %>
</p>

<p>
  <strong>Ogłada:</strong>
  <%= @character.ogd %>
</p>

<p>
  <strong>Ataki:</strong>
  <%= @character.a %>
</p>

<p>
  <strong>Zdrowie:</strong>
  <%= @character.hp %>
</p>

<p>
  <strong>Siła:</strong>
  <%= @character.s %>
</p>

<p>
  <strong>Wytrzymałość:</strong>
  <%= @character.wt %>
</p>

<p>
  <strong>Szybkość:</strong>
  <%= @character.sz %>
</p>

<p>
  <strong>Magia:</strong>
  <%= @character.mag %>
</p>

<p>
  <strong>Punkty obłędu:</strong>
  <%= @character.po %>
</p>

<p>
  <strong>Punkty postaci:</strong>
  <%= @character.pp %>
</p>

<%= link_to 'Edytuj', edit_character_path(@character) %> |
<%= link_to 'Wróć', characters_path %>
