<p id="notice"><%= notice %></p>

<h1>Zdolności</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abilities.each do |ability| %>
      <tr>
        <td><%= ability.name %></td>
        <td><%= ability.description %></td>
        <td><%= link_to 'Wyświetl', ability %></td>
        <td><%= link_to 'Edytuj', edit_ability_path(ability) %></td>
        <td><%= link_to 'Usuń', ability, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa zdolność', new_ability_path %>
